body {
	background-color: #f0f0f0;
}

.centered-title {
	text-align: center;
	margin-bottom: 20px;
}

.tabs-container {
	margin-top: 20px;
}

.tab-link {
	color: #333;
	text-decoration: none;
}

.blob-container {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.blob {
	background-color: #fff;
	border: 2px solid #000;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}